VITE_API_URL=https://y5g97420he.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_DOMAIN=https://budgeting-niteesh-798764.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=3dbki35v3uremhitg8u4qmt268
VITE_REDIRECT_URI=http://localhost:5173/callback
